# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!.gitmodules
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/arnaudbanvillet/
/wp-content/themes/arnaudbanvillet/.sass-cache/

!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/widget-embed-latest-tweets/